.btn{
  font-size: 20px;
  &__done{
    background-color: green;
  }
  &__del{
    background-color: red;
  }
}
.todo{
  &__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    p{
      margin: 0;
    }
    li{
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}